<app-search-box></app-search-box>
<div *ngIf="api.drinksList" class="container">
  <mat-card class="example-card" *ngFor="let drink of api.drinksList">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title class="example-header-title">{{
        drink.name
      }}</mat-card-title>
      <mat-card-subtitle>{{ drink.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ drink.image }}" alt="Photo drink" />
    <mat-card-actions class="example-actions">
      <button
        mat-raised-button
        color="primary"
        (click)="handleOnInfo(drink.id)"
      >
        Info
      </button>
    </mat-card-actions>
  </mat-card>
</div>
