.example-card {
  width: 80%;
  background-color: #9e7676;
  color: #fff8ea;
}

.example-header-image {
  background-size: cover;
}

.example-actions {
  text-align: end;

  button {
    background-color: #594545;
  }
}
