.example-card {
  width: 80%;
  background-color: #101820ff;
  color: #fee715ff;
}

.example-header-image {
  background-size: cover;
}

.example-actions {
  text-align: end;

  button {
    color: #101820ff;
    background-color: #fee715ff;
  }
}

::ng-deep.mat-card-avatar {
  display: none;
}

.mat-card-subtitle {
  color: #fff8ea;
}
