.example-card {
  max-width: 400px;
  margin: 100px;
  background-color: #3c4048;
  color: #b2b2b2;
}

.example-header-image {
  background-size: cover;
}
.example-actions {
  text-align: end;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
